.table-header {
    background-color: #f0f0f0; /* Color de fondo para el encabezado */
    font-weight: bold;
    text-align: center;
    padding: 10px 0;
    border-bottom: 2px solid #ddd; /* Borde en la parte inferior del encabezado */
  }
  
  .table-row {
    background-color: #ffffff; /* Fondo de las filas */
    border-bottom: 1px solid #ddd; /* Línea separadora entre filas */
    padding: 10px 0;
    text-align: center;
    font-size: 16px; /* Tamaño de la fuente */
  }
  
  .table-row:nth-child(even) {
    background-color: #f9f9f9; /* Color alterno para filas pares */
  }
  
  ion-col {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  ion-col:first-child {
    font-weight: bold; /* Negrita para el número */
  }
  
  .table-row:hover {
    background-color: #e0e0e0; /* Efecto hover al pasar sobre la fila */
  }
  